* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
  margin-top: 1rem;
}

h2 {
  margin-top: 1rem;
  font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }
  
  
header.design-one {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: rgb(87, 47, 47);
  
    & > img.company-logoo {
      height: 50px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      & > a.navigation-content {
        font-weight: 600;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
      }
    }
}

header.design-two {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: rgb(87, 47, 47);
  
    & > img.company-logo {
      height: 100px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      & > a.navigation-contentt {
        font-weight: 600;
        font-size: 1.1rem;
        color: #ffffff;
        border: 1px solid rgb(255, 255, 255);
        font-style: italic;
      }
    }
}

@keyframes Breathing {
  0% {
    color: #7e7e7e;
  }
  16% {
    color: #ffffff;
  }
  33% {
    color: #7e7e7e;
  }
  50% {
    color: #ffffff;
  }
  66% {
    color: #7e7e7e;
  }
  83% {
    color: #ffffff;
  }
  100% {
    color: #7e7e7e;
  }
}


header.design-three {
    border-radius: 50px;
    width: 100vw;
    display: flex;
    padding: 0.7rem 10vw;
    background: rgb(255, 255, 255);
    border: #ffffff;
    
header.another {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    border-color: #000000;
    padding: 0.5rem 10vw;
    border-radius: 50px;
    
    & > img.company-logo {
        height: 100px;
        justify-content: flex-start;
        margin-right: 70px;
        padding-right: 35%;
    }

    & > nav.navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end
        text-align: right;
        gap: 1rem;      
      & > a.navigation-contenttt {
        font-weight: 600;
        font-size: 1.1rem;
        color: #000000;
        position: relative;
        padding-bottom: 5px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after,
      &:focus::after,
      &:active::after {
        width: 100%;
      }
      }
    }
}
}

@keyframes Breathing {
  0% {
    color: #7e7e7e;
  }
  16% {
    color: #ffffff;
  }
  33% {
    color: #7e7e7e;
  }
  50% {
    color: #ffffff;
  }
  66% {
    color: #7e7e7e;
  }
  83% {
    color: #ffffff;
  }
  100% {
    color: #7e7e7e;
  }
}



header.design-four {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(87, 47, 47);

  & > img.company-logooo {
    height: 100px;
  }
  
  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    & > a.navigation-contentttt {
      font-weight: 600;
      font-size: 1.1rem;
      color: white;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

header.design-five {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(87, 47, 47);

  & > img.company-logoooo {
    height: 100px;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-contenttttt {
      font-weight: 600;
      font-size: 1.1rem;
      color: rgb(0, 0, 0);
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }
}

header.design-one {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(87, 47, 47);

  & > img.company-logo {
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in;
    
    &:hover {
      transform: scale(1.5);
    }
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;
    }
  }
}

header.design-two {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(87, 47, 47);

  & > img.company-logo {
    height: 100px;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: #ffffff;
      border: 1px solid white;
      font-style: italic;
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.5);
        color: #ff0000;
      }

      
    }
  }
}

@keyframes Breathing {
0% {
  color: #7e7e7e;
}
16% {
  color: #ffffff;
}
33% {
  color: #7e7e7e;
}
50% {
  color: #ffffff;
}
66% {
  color: #7e7e7e;
}
83% {
  color: #ffffff;
}
100% {
  color: #7e7e7e;
}
}


header.design-three {
  border-radius: 50px;
  width: 100vw;
  display: flex;
  padding: 0.7rem 10vw;
  background: rgb(255, 255, 255);
  border: #ffffff;
  
header.another {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  border-color: #000000;
  padding: 0.5rem 10vw;
  border-radius: 50px;



  & > img.company-logo {
      height: 100px;
      justify-content: flex-start;
      margin-right: 70px;
      padding-right: 35%;
  }

  & > nav.navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end
      text-align: right;
      gap: 1rem;

      
    
    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: #000000;
      position: relative;
      padding-bottom: 5px;
      transition: color 0.3s ease-in-out;

    &:hover {
     animation: Breathing 5s infinite;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: rgb(65, 65, 65);
      transition: width 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      width: 100%;
    }
    }
  }
}
}

@keyframes Breathing {
0% {
  color: #7e7e7e;
}
16% {
  color: #ffffff;
}
33% {
  color: #7e7e7e;
}
50% {
  color: #ffffff;
}
66% {
  color: #7e7e7e;
}
83% {
  color: #ffffff;
}
100% {
  color: #7e7e7e;
}
}



header.design-four {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(87, 47, 47);

& > img.company-logo {
  height: 100px;
  -webkit-transition: -webkit-transform 1.0s;

  &:hover {
    -webkit-transform: rotate(360deg);
  }
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    animation: Breathing 5.0s infinite;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ffffff;
    }
  }
}
}

@keyframes bounce {
0%, 20%, 50% {
  transform: translateY(0);
}
40% {
  transform: translateY(-10px);
}
60% {
  transform: translateY(-5px);
}
}

header.design-five {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(87, 47, 47);

& > img.company-logo {
  height: 100px;
  cursor: pointer;
  animation:  0.5s ease;
  

  &:hover {
    transform: scale(1.1);
    animation: bounce 1s;
  }
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgb(255, 255, 255);
      transform: scale(1.1);
      animation: bounce 1s;
    }
  }
}
}

header.design-one {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(255, 255, 255);

  & > img.company-logo {
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in;
    
    &:hover {
      transform: scale(1.5);
    }
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;
    }
  }
}

header.design-two {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  background: rgb(0, 0, 0);

  & > img.company-logo {
    height: 100px;
  }

  & > nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: #ffffff;
      border: 1px solid white;
      font-style: italic;
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.5);
        color: #00ff00;
      }

      
    }
  }
}

@keyframes Breathing {
0% {
  color: #7e7e7e;
}
16% {
  color: #ffffff;
}
33% {
  color: #7e7e7e;
}
50% {
  color: #ffffff;
}
66% {
  color: #7e7e7e;
}
83% {
  color: #ffffff;
}
100% {
  color: #7e7e7e;
}
}


header.design-three {
  border-radius: 50px;
  width: 100vw;
  display: flex;
  padding: 0.7rem 10vw;
  background: rgb(255, 255, 255);
  border: #ffffff;
  
header.another {
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  border-color: #000000;
  padding: 0.5rem 10vw;
  border-radius: 50px;



  & > img.company-logo {
      height: 100px;
      justify-content: flex-start;
      margin-right: 70px;
      padding-right: 35%;  
  }

  & > nav.navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end
      text-align: right;
      gap: 1rem;

      
    
    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: #000000;
      position: relative;
      padding-bottom: 5px;
      transition: color 0.3s ease-in-out;

    &:hover {
     animation: Breathing 5s infinite;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: rgb(0, 0, 0);
      transition: width 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      width: 100%;
    }
    }
  }
}
}

@keyframes Breathing {
0% {
  color: #7e7e7e;
}
16% {
  color: #ffffff;
}
33% {
  color: #7e7e7e;
}
50% {
  color: #ffffff;
}
66% {
  color: #7e7e7e;
}
83% {
  color: #ffffff;
}
100% {
  color: #7e7e7e;
}
}



header.design-four {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);

& > img.company-logo {
  height: 100px;
  -webkit-transition: -webkit-transform 1.0s;

  &:hover {
    -webkit-transform: rotate(360deg);
  }
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    animation: Breathing 5.0s infinite;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ffffff;
    }
  }
}
}

@keyframes bounce {
0%, 20%, 50% {
  transform: translateY(0);
}
40% {
  transform: translateY(-10px);
}
60% {
  transform: translateY(-5px);
}
}

header.design-five {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);

& > img.company-logo {
  height: 100px;
  cursor: pointer;
  animation:  0.5s ease;
  

  &:hover {
    transform: scale(1.1);
    animation: bounce 1s;
  }
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgb(255, 255, 255);
      transform: scale(1.1);
      animation: bounce 1s;
    }
  }
}
}

header.design-six {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);

& > img.company-logo {
  height: 50px;
  cursor: pointer;
  transition: 0.5s ease-in;
  
  &:hover {
    transform: scale(1.5);
  }
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
  }
}
}

header.design-seven {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(0, 0, 0);

& > img.company-logo {
  height: 100px;
}

& > nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    font-style: italic;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.5);
      color: #ff0000;
    }

    
  }
}
}

@keyframes Breathing {
0% {
color: #7e7e7e;
}
16% {
color: #ffffff;
}
33% {
color: #7e7e7e;
}
50% {
color: #ffffff;
}
66% {
color: #7e7e7e;
}
83% {
color: #ffffff;
}
100% {
color: #7e7e7e;
}
}


header.design-eight {
border-radius: 50px;
width: 100vw;
display: flex;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);
border: #ffffff;

header.another {
box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
display: flex;
justify-content: flex-end;
width: 100vw;
border-color: #000000;
padding: 0.5rem 10vw;
border-radius: 50px;



& > img.company-logo {
    height: 100px;
    justify-content: flex-start;
    margin-right: 70px;
    padding-right: 35%;
}

& > nav.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end
    text-align: right;
    gap: 1rem;

    
  
  & > a.navigation-content {
    font-weight: 600;
    font-size: 1.1rem;
    color: #000000;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;

  &:hover {
   animation: Breathing 5s infinite;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(65, 65, 65);
    transition: width 0.3s ease-in-out;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    width: 100%;
  }
  }
}
}
}

@keyframes Breathing {
0% {
color: #7e7e7e;
}
16% {
color: #ffffff;
}
33% {
color: #7e7e7e;
}
50% {
color: #ffffff;
}
66% {
color: #7e7e7e;
}
83% {
color: #ffffff;
}
100% {
color: #7e7e7e;
}
}



header.design-nine {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);

& > img.company-logo {
height: 100px;
-webkit-transition: -webkit-transform 1.0s;

&:hover {
  -webkit-transform: rotate(360deg);
}
}

& > nav.navigation {
display: flex;
align-items: center;
gap: 1rem;

& > a.navigation-content {
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  animation: Breathing 5.0s infinite;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ffffff;
  }
}
}
}

@keyframes bounce {
0%, 20%, 50% {
transform: translateY(0);
}
40% {
transform: translateY(-10px);
}
60% {
transform: translateY(-5px);
}
}

header.design-ten {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 0.7rem 10vw;
background: rgb(255, 255, 255);

& > img.company-logo {
height: 100px;
cursor: pointer;
animation:  0.5s ease;


&:hover {
  transform: scale(1.1);
  animation: bounce 1s;
}
}

& > nav.navigation {
display: flex;
align-items: center;
gap: 1rem;

& > a.navigation-content {
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
    animation: bounce 1s;
  }
}
}
}