* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://t4.ftcdn.net/jpg/03/29/57/63/360_F_329576340_zBRuVjvHWe9zgh2b2C5fwQNITE8oGsv5.jpg');
}

section {
  width: 100vw;
  padding: 1rem 5vw;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

header.design-one,
header.design-two,
header.design-three,
header.design-four,
header.design-five {
  background-color: #ffd700;
}

header.design-one img.company-logo {
  height: 50px;
  transition: 0.5s ease-in;
}

header.design-two img.company-logo {
  height: 100px;
}

header.design-three,
header.another {
  border-radius: 50px;
  padding: 0.7rem 10vw;
  background: #ffd700;
}

header.design-four {
  padding: 0.7rem 10vw;
  background: #ffd700;
}

header.design-five {
  padding: 0.7rem 10vw;
  background: #ffd700;
}

nav.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

a.navigation-content {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000000;
  transition: 0.5s ease;

  &:hover {
      transform: scale(1.5);
      color: #00ff00;
  }
}

@keyframes Breathing {
  0% {
      color: #ff0000;
  }
  16% {
      color: #ff9900;
  }
  33% {
      color: #ffff00;
  }
  50% {
      color: #00ff00;
  }
  66% {
      color: #0000ff;
  }
  83% {
      color: #4b0082;
  }
  100% {
      color: #ff00ff;
  }
}

@keyframes bounce {
  0%, 20%, 50% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

header.design-five img.company-logo {
  height: 100px;
  cursor: pointer;
  animation: 0.5s ease;

  &:hover {
      transform: scale(1.1);
      animation: bounce 1s;
  }
}
